*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
}
header h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 4rem;
    font-family: sans-serif;
}
main {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.6rem;
}
main p {
    padding-top: 40px;
    font-size: 2rem;
}
button {
    border: 2px solid;
    padding: 20px 40px;
    font-size: 20px;
    margin-top: 70px;
    margin-right: 10px;
    border-radius: 20px 10px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
button:hover {
    background-color: #fff;
    color: #000;
}