@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    transition: 0.3s all;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
}
.box {
    margin: auto;
    width: 35rem;
    /* height: 25rem; */
    background-color: #fff;
    border-radius: 2rem;
    text-align: center;

}

.box h1 {
    margin: 5rem 0 auto;
    font-size: 40px;
}
.box button {
    margin: 5rem;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

