* {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}

input {
    padding: 10px;
    width: 100%;
    margin: 0 0 10px 0;
    border-radius: 20px;
    outline: none;
    height: 20px;
    font-size: 1.2rem;
    border: 2px solid #000;
}
button {
    margin: 20px auto;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: green;
    color: #fff;
    border-radius: 20px; 
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: 1px solid green;
}
button:hover {
    background-color: lightgreen;
    color: green;
    border: 1px solid lightgreen;
}